extends ../layout

block content

  section.adminContainer
    .container
      h1.containerTitle Bienvenue #{firstName} #{lastname}
      br
      p #{adress} #{firstName} #{lastname} #{email}
      p#welcome.col-12 Espace de gestion des contacts inscrits sur votre application web
      br
      
      table.table.table-hover.table-light.col-6
        tbody
          tr
            td(style='display:none')  ID 
            td  Prénom 
            td  Nom 
            td  Email 
            td  Options
          each contact in contacts
            tr
              td(style='display:none')= contact._id
              td= contact.firstname
              td= contact.lastname
              td= contact.email
              td 
                <a class="btn btn-danger" id="deleteButton" type="button" href="/Admin/contact/delete?_id=#{contact._id}">Delete</a>
                br
                <a class="btn btn-info" id="editButton" type="button" href="/Admin/contact/update?_id=#{contact._id}" >Edit</a>
