extends layout

block content

  // Navbar
  nav.navbar.navbar-expand-lg.navbar-dark
    a.navbar-brand(href='#') #{title}
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#carouselExampleControls')
            | Technos 
            span.sr-only (current)
        li.nav-item
          a#redirection.nav-link(href='#infoContainer') Tutoriel
      span.navbar-text
        | Navbar text with an inline element

  h1.containerTitle Bienvenue #{firstname} #{lastname}
  br
  p #{adress} #{firstname} #{lastname} #{email}
  p#welcome.col-12 Facilitez vos développements de sites web
  br

  //- Contact list
  //- <form action="contact.js" method="GET">
  //-   <button type="button" onclick="showContact()" class="btn btn-info" id="getContacts">Get Contacts</button>
  //-   <div id="contactBloc" ></div>
  //- </form>
  //- br
  //- br
  //- <button type="button" class="btn btn-danger" id="deleteContacts">Delete contacts</button>
  
  table.table.table-hover.table-dark.col-6
      tbody
        tr
          td  ID 
          td  Prénom 
          td  Nom 
          td  Email 
          td  Options
        each contact in contacts
          tr
            td= contact._id
            td= contact.firstname
            td= contact.lastname
            td= contact.email
            td 
              button.btn.btn-outline-info.btn-sm(onclick="location.href='/contact'", data-message='Mettre à jour') Editer
              br
              button.btn.btn-outline-danger.btn-sm(onclick="location.href=\"/contact/delete?_id=#{contact._id}\";" data-message='Voir les contacts') Supprimer
              <a href="/contact/delete?_id=#{contact._id}">deleteeee</a>






  //- Packages list
  //- table.table.table-hover.table-dark.col-6
  //-   thead
  //-     tr
  //-       th(colspan='6') Packages Innovation Starter kit
  //-   tbody
  //-     tr
  //-       th(scope='row') 1
  //-       td Java
  //-       td Backend
  //-       td 
  //-       td
  //-     tr
  //-       th(scope='row') 2
  //-       td JavaScript
  //-       td Backend
  //-       td 
  //-       td
  //-     tr
  //-       th(scope='row') 3
  //-       td React
  //-       td Webpack
  //-       td Node
  //-       td MongoDB