extends ./component/layout

block content

  section.adminContainer
    .container
      h1.containerTitle Bienvenue #{firstName} #{lastname}
      br
      p #{adress} #{firstName} #{lastname} #{email}
      p#welcome.col-12 Espace de gestion des contacts inscrits sur votre application web
      br
      
      table.table.table-hover.table-light.col-6
        tbody
          tr.rowUsers
            td(style='display:none')  ID 
            td  Prénom 
            td  Nom 
            td  Email 
            td  Options
          each contact in contacts
            tr
              td.rowInfoUsers(style='display:none')= contact._id
              td.rowInfoUsers= contact.firstname
              td.rowInfoUsers= contact.lastname
              td.rowInfoUsers= contact.email
              td.rowInfoUsers 
                <a class="btn btn-danger" id="deleteButton" type="button" href="/contact/delete?_id=#{contact._id}">Delete</a>
                br
                <a class="btn btn-info" id="editButton" type="button" href="/contact/user?_id=#{contact._id}" >Edit</a>
