- var noDisplay=null

mixin field(args)
  input.form-control(
    type=args.type ? args.type : noDisplay
    name=args.name ? args.name : noDisplay
    value=args.value ? args.value : noDisplay
    placeholder=args.placeholder ? args.placeholder : noDisplay
    class=args.class ? args.class : noDisplay
    required=args.isRequired
    id=args.id ? args.id : noDisplay)